audio_transcription_workflow.json
{
  "name": "Audio Transcription Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-audio",
        "options": {
          "rawBody": true,
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "audio-upload"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mimetype }}",
              "operation": "contains",
              "value2": "audio/"
            }
          ]
        }
      },
      "id": "validate-file",
      "name": "Validate File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "writeFile",
        "fileName": "={{ $json.filename }}",
        "dataPropertyName": "data",
        "options": {
          "append": false
        }
      },
      "id": "save-uploaded-file",
      "name": "Save Uploaded File",
      "type": "n8n-nodes-base.fileOperations",
      "typeVersion": 1,
      "position": [680, 200],
      "parameters": {
        "operation": "writeFile",
        "fileName": "={{ $json.filename }}",
        "dataPropertyName": "data",
        "options": {
          "append": false
        }
      }
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "docker run --rm -v /Users/jennyzh/Coding%20Projects/n8n/uploads:/input -v /Users/jennyzh/Coding%20Projects/n8n/outputs:/output jrottenberg/ffmpeg:latest -i /input/{{ $json.filename }} -c:a libmp3lame -b:a 192k /output/{{ $json.filename }}.mp3"
      },
      "id": "convert-audio",
      "name": "Convert M4A to MP3",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "docker run --rm -v /Users/jennyzh/Coding%20Projects/n8n/outputs:/app/audio -v /Users/jennyzh/Coding%20Projects/n8n/transcriptions:/app/output transcription-service:latest python transcribe_api.py /app/audio/{{ $json.filename }}.mp3 --output-dir /app/output"
      },
      "id": "transcribe-audio",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "readFile",
        "fileName": "={{ $json.output_file }}",
        "options": {}
      },
      "id": "read-transcription",
      "name": "Read Transcription File",
      "type": "n8n-nodes-base.fileOperations",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Audio transcription completed successfully\",\n  \"original_file\": \"{{ $('Save Uploaded File').item.json.filename }}\",\n  \"converted_file\": \"{{ $('Save Uploaded File').item.json.filename }}.mp3\",\n  \"transcription\": {\n    \"full_text\": \"{{ $json.full_text }}\",\n    \"duration_seconds\": \"{{ $json.duration_seconds }}\",\n    \"processing_time_minutes\": \"{{ $json.processing_time_minutes }}\",\n    \"total_chunks\": \"{{ $json.total_chunks }}\"\n  },\n  \"output_file\": \"{{ $json.output_file }}\"\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Invalid file type. Please upload an audio file.\",\n  \"received_mimetype\": \"{{ $json.mimetype }}\"\n}",
        "responseCode": 400
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate File Type": {
      "main": [
        [
          {
            "node": "Save Uploaded File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Uploaded File": {
      "main": [
        [
          {
            "node": "Convert M4A to MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert M4A to MP3": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Read Transcription File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Transcription File": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 